*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.red{
  color: red;
}

body{
  min-height: 100vh;
  .dessert-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin: auto;
    .dessert-card{
      img{
        width: 100%;
        aspect-ratio: 1;
        background-color: lightgray;
        object-fit: cover;
      }
      h4{color: lightblue;}
      h3{color: lightgray;}
      h2{color: orange;}
    }
  }
}